*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img1.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color:#01013f;
    font-size: 45px;
    font-family: cursive;
}
.lbl{
    color: #01013f;
    font-size: 20px;
    font-family: cursive;
}
#txt{
    background: none;
    outline: none;
    border: 2px solid #01013f;
    padding-left: 5px;
    margin-top: 15px;
    height: 30px;
    font-size: 18px;
    border-radius: 5px;

}


.btn{
    width: 180px;
    height: 35px;
    background-color: #01013f;
    color: white;
    text-align: center;
    font-family: cursive;
    outline: none;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    
    margin-top: 20px;
}
.btn:hover{
    background-color: green;
    color: white;
    height: 50px;
    width: 220px;
    border: none;
    border-radius: 7px;
    transition: all 1s ease-in-out;
}
#result{
    color: whitesmoke;
    font-family: cursive;
    font-size: 25px;
}
.d1{
    margin-bottom: 30px;
}